{
  "MicrosoftAppId": "",
  "MicrosoftAppPassword": "",
  "ConnectionName": "",
  "CosmosDbEndpoint": "",
  "CosmosDbAuthKey": "",
  "CosmosDbDatabaseId": "",
  "CosmosDbContainerId": "",
  "ApplicationInsights": {
    "InstrumentationKey": ""
  },
  "EnableTestMode": "false"
}
